
<form action="">

  <div class="tab-content">
    <textarea [className]="'hide form-control speech-body speechBody'" [(ngModel)]="speechBody.Body" name="speechBody"></textarea>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <input type="text" name="author" [(ngModel)]="speechBody.Author"  class="form-control" id="authorInput" placeholder="Author">
      <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="col-md-4 form-group">
        <input type="text" name="subjectArea" [(ngModel)]="speechBody.SubjectArea"  class="form-control" id="authorInput" placeholder="Subject area">
    </div>
    <div class="col-md-4 form-group">
      date
    </div>
  </div>

  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary float-right">Delete</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary float-right">Save</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary float-right">Share</button>
    </div>
  </div>

</form>
