<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
       <h1>Speeches Automation</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <nav class="nav nav-pills flex-column flex-sm-row" id="nav-tab">
        <a routerLinkActive="active"  class="tab-nav flex-sm-fill text-sm-center nav-link font-weight-bold bg-secondary first-tab" routerLink="view-components" href="#">View my Speeches</a>
        <a routerLinkActive="active"  class="tab-nav flex-sm-fill text-sm-center nav-link font-weight-bold bg-secondary" routerLink="add-new-speech" href="#">Submit a new Speech</a>
        <a routerLinkActive="active"  class="tab-nav flex-sm-fill text-sm-center nav-link font-weight-bold bg-secondary" routerLink="search-all-speeches" href="#">Search all Speeches</a>
      </nav>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>



